<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Sent Emails</title>
</head>
<body>
    <h1>Sent Emails</h1>
    <table border="1">
        <tr>
            <th>Time Sent</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Recipient</th>
        </tr>
        {% for email in emails %}
        <tr>
            <td>{{ email.time }}</td>
            <td>{{ email.subject }}</td>
            <td>{{ email.body }}</td>
            <td>{{ email.to_email }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
